<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>394426078408-1bqek3gb0akqjrk29v00603l7l5a1f41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394426078408-1bqek3gb0akqjrk29v00603l7l5a1f41</string>
	<key>API_KEY</key>
	<string>AIzaSyBR1v4YGlk01IaKYb_07bufe9eN8i8TxFg</string>
	<key>GCM_SENDER_ID</key>
	<string>394426078408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Testify-App</string>
	<key>PROJECT_ID</key>
	<string>testifyapp-5e085</string>
	<key>STORAGE_BUCKET</key>
	<string>testifyapp-5e085.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394426078408:ios:3c523917faa308403ac1fd</string>
</dict>
</plist>